# Backend Config
SECRET_KEY=your-super-secret-django-key
DEBUG=False
DATABASE_URL=postgres://postgres:password@db:5432/foodgo
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0
CORS_ALLOWED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080
REDIS_URL=redis://redis:6379/0

# External APIs
STRIPE_SECRET_KEY=sk_test_your_stripe_key
STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_key
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

MAPS_API_KEY=your_google_maps_api_key

# Payment Gateway & KHQR Config (Sandbox / Production)
PAYMENT_ENV=sandbox
ABA_ENABLED=True
ABA_MERCHANT_ID=foodgo_aba_sandbox_01
ABA_API_KEY=your_aba_api_key
ABA_API_SECRET=your_aba_api_secret
ABA_API_URL=https://checkout-sandbox.payway.com.kh/api/payment-gateway/v1/payments/purchase
ABA_CALLBACK_URL=http://127.0.0.1:8000/api/payments/aba/callback/

ACLEDA_ENABLED=True
ACLEDA_MERCHANT_ID=foodgo_acleda_sandbox_01
ACLEDA_API_KEY=your_acleda_api_key
ACLEDA_API_SECRET=your_acleda_api_secret
ACLEDA_API_URL=https://api.acledabank.com.kh/sandbox/v1/x-pay/partner/merchant/payment
ACLEDA_CALLBACK_URL=http://127.0.0.1:8000/api/payments/acleda/callback/

# Frontend Config (Flutter)
FOODGO_API_URL=http://127.0.0.1:8000/api/
